<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}BigZhu的窝{% end %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{% block description %}{% end %}" />
    <meta name="keywords" content="{% block keywords %}{% end %}" />
    <link rel='shortcut icon' href='/static/images/login-logo.png' />
    <link href="/static/semantic.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <link href="/static/syntaxhighlighter_3.0.83/styles/shCore.css" rel="stylesheet">
    <link href="/static/syntaxhighlighter_3.0.83/styles/shCoreDefault.css" rel="stylesheet">
    {% block css %}
    {% end %}
  </head>
  <body>
    <header id="v_header" class="main-header">               
    <div class="ui menu">
      <div class="header item">
        BigZhu的窝
      </div>
      <a href="./list" class="item">全部</a>
      <a href="./list/vim" class="item">vim</a>
      <a class="item">Upcoming Events</a>
    </div>
    <vnav :navbar_header="navbar_header" :nav_links="nav_links">
    </vnav>
    </header>
    <br>
    <div class="ui container">
      {% block body %}
      {% end %}
    </div>
    <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script src="/static/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
    <script src="/static/syntaxhighlighter_3.0.83/scripts/shAutoloader.js"></script>
    <script type="text/javascript">var root_path='/static/syntaxhighlighter_3.0.83/';</script>
    <script type="text/javascript">
      function path()
      {
        var scripts_path=root_path+'scripts/';
        var args = arguments, result = [];
        for(var i = 0; i < args.length; i++)
          result.push(args[i].replace('@', scripts_path));
        return result
      };
      SyntaxHighlighter.autoloader.apply(null, path(
        'applescript            @shBrushAppleScript.js',
        'actionscript3 as3      @shBrushAS3.js',
        'bash shell             @shBrushBash.js',
        'powershell ps          @shBrushPowerShell.js',
        'coldfusion cf          @shBrushColdFusion.js',
        'cpp c                  @shBrushCpp.js',
        'c# c-sharp csharp      @shBrushCSharp.js',
        'css                    @shBrushCss.js',
        'delphi pascal          @shBrushDelphi.js',
        'diff patch pas         @shBrushDiff.js',
        'erl erlang             @shBrushErlang.js',
        'groovy                 @shBrushGroovy.js',
        'java                   @shBrushJava.js',
        'jfx javafx             @shBrushJavaFX.js',
        'js jscript javascript coffee  @shBrushJScript.js',
        'perl pl                @shBrushPerl.js',
        'php                    @shBrushPhp.js',
        'text plain             @shBrushPlain.js',
        'py python              @shBrushPython.js',
        'ruby rails ror rb      @shBrushRuby.js',
        'sass scss              @shBrushSass.js',
        'scala                  @shBrushScala.js',
        'sql                    @shBrushSql.js',
        'vb vbnet               @shBrushVb.js',
        'xml xhtml xslt html    @shBrushXml.js'
      ));
      SyntaxHighlighter.all();
    </script>
    {% block js %}
    {% end %}
  </body>
</html>
