<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}You Know Nothing, Jon Snow{% end %}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="description" content="{% block description %}叶脉书签:You Know Nothing, Jon Snow{% end %}" />
        <meta name="keywords" content="{% block keywords %}bookmarks,site,url{% end %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='shortcut icon' href='/static/images/login-logo.png' />
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <![endif]-->
            <link rel="stylesheet" href="/static/vimblog.css">
            <link href="/lib_static/lib/AdminLTE-2.0.4/dist/css/skins/skin-black.min.css" rel="stylesheet" type="text/css" />
            <link href="/static/base.css" rel="stylesheet" type="text/css" />
            {% block css %}
            {% end %}

            <script src="/static/base.js"></script>
    </head>
    <body class="skin-black layout-top-nav">
        {% from public_bz import storage%}
        {% set links = [] %}
        {% set links.append(storage(href='/list', name='全部')) %}
        {% set links.append(storage(href='/list/vim', name='vim')) %}
        {% set links.append(storage(href='/list/python', name='python')) %}
        {% set links.append(storage(href='http://me.bigzhu.org', name='关于bigzhu')) %}
        {% module header_m(None, 'BigZhu的窝', links, need_login=False) %}
        <br>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    {% block body %}
                    {% end %}
                </div>
            </div>
            {%import time_bz %}
            <p>&copy; 2009-{{time_bz.getYearMonth(fmt='%Y')}} <a href="http://me.bigzhu.org">bigzhu</a>&nbsp;&nbsp;</p>
        </div>
        {% block js %}
        {% end %}
    </body>
</html>

{% module base_m() %}
{% module public_m() %}
