<!DOCTYPE HTML>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body id="top">

    <!-- Header -->
    <header id="header">
    <div class="inner">
      <a href="/" class="image avatar"><img src="/static/images/avatar2.jpg" alt="bigzhu" /></a>
      <h1><strong>bigzhu</strong></h1>
      <br>在昆明IT荒原里开荒
      <br><a href="/list/python">python</a>
      <br><a href="/list/vim">vim</a>
      <br><a href="/list/vue">vue</a>
    </div>
    </header>

    <!-- Main -->
    <div id="main">
      {%for l in main_list%}
      <section>
      <header class="major">
      <h2>
        <a href='/blog/{{l.name}}'>{{l.name}}</a>
      </h2>
      <p>{{ time.strftime('%y年%m月%d日%H:%M:%S', l.time)  }}</p>
      </header>
      <p>{{l.content}}</p>
      </section>
      {%end%}
    </div>

    <!-- Footer -->
    <footer id="footer">
    <div class="inner">
      <ul class="icons">
        <li><a href="https://twitter.com/bigzhu" target="blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://github.com/bigzhu" target="blank" class="icon fa-github"><span class="label">Github</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; <a href="http://www.lorstone.com/" target="_blank" title="络石">lorstone</a></li>
      </ul>
    </div>
    </footer>

    <!-- Scripts -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/jquery.poptrox.min.js"></script>
    <script src="/static/assets/js/skel.min.js"></script>
    <script src="/static/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/static/assets/js/main.js"></script>

  </body>
</html>
