<!DOCTYPE HTML>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="/static/css/ie/html5shiv.js"></script><![endif]-->

    <link rel="stylesheet" href="/static/css/skel.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/style-xlarge.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/static/css/ie/v8.css" /><![endif]-->
  </head>
  <body id="top">
    <!-- Header -->
    <header id="header">
    <a href="/" class="image avatar"><img src="/static/images/avatar2.jpg" alt="" /></a>
    <h1><strong>bigzhu</strong></h1>
    <br>在昆明IT荒原里开荒
    <br><a href="/list/python">python</a>
    <br><a href="/list/vim">vim</a>
    <br><a href="/list/vue">vue</a>
    </header>

    <!-- Main -->
    <div id="main">
      {%for l in main_list%}
      <section id="one">
      <header class="major">
      <h2 class="ui header">
        <a href='/blog/{{l.name}}'>{{l.name}}</a>
      </h2>
      <p>{{ time.strftime('%y年%m月%d日%H:%M:%S', l.time)  }}</p>
      </header>
      <p>
      {{l.content}}
      </p>
      </section>
      {%end%}

    </div>
    <!-- Footer -->
    <footer id="footer">
    <ul class="icons">
      <li><a href="https://twitter.com/bigzhu" target="blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://github.com/bigzhu" target="blank" class="icon fa-github"><span class="label">Github</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; <a href="http://www.lorstone.com/" target="_blank" title="络石">lorstone</a></li>
    </ul>
    </footer>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.poptrox.min.js"></script>
    <script src="/static/js/skel.min.js"></script>
  </body>
</html>
