{% extends 'base.html' %}
{% block  content %}
{% if not lists %}
<div class="panel panel-default">
    <div class="panel-heading">不好意思,没有找到任何与 <b>{{title}}</b> 类似的内容!<br>
        你确定你没有喝多?<br>
        或者你是一只从键盘爬过的喵?<br>
        <br>
        因为你要找的东西时尚到bigzhu都没玩过的可能性太小了. <br>
        如果真的出现了这种餐具,请给bigzhu发邮件告诉他: <br>vermiliondun@gmail.com<br>

        或者用disqus留言!
    </div>
</div>
{% end %}

{%for l in lists%}
<div class="panel panel-default">
    <div class="panel-heading">{{l[0]}}年</div>
    <div class="list-group">
        {%for item in l[1]%}
        <a href="/blog/{{item[0]}}" class="list-group-item">{{item[0]}} 
            {%if item[0].decode('utf-8') in click_count%}
            <sub class="badge  on-show">{{ click_count[item[0].decode('utf-8')]}}</sub>
            {%end%}
            <sub class="badge pull-right some-show">{{ time.strftime('%m月%d日%H:%M:%S', item[1])  }}</sub>
        </a>
        {%end%}
    </div>
</div>
{%end%}
{% end %}

{% block  script %}
<script type="text/javascript">
$(function() {
        //Calls the tocify method on your HTML div.
        var toc = $("#toc").tocify({ selectors: ".panel-heading" }).data("toc-tocify"); 
        });
</script>
{% end %}
