{% extends 'base.html' %}
{% block  content %}
{%for list in lists%}
<div class="panel panel-default">
    <div class="panel-body">
        <a href='/blog/{{list.name}}'>
            <h1 class='title_bz'>
                {{list.name}}
            </h1>
        </a>
        {{ time.strftime('%m月%d日%H:%M:%S', list.time)  }}
        <hr/>

        {{list.content}}
    </div>
</div>
{%endfor%}

{% endblock %}

{% block  script %}
<script type="text/javascript">
$(function() {
        //Calls the tocify method on your HTML div.
        var toc = $("#toc").tocify({ selectors: ".title_bz" }).data("toc-tocify"); 
        });
</script>
{% endblock %}
